# 1. Configuración de motor
RewriteEngine On
# Define la raíz del proyecto (Si está en la raíz, solo es /)
RewriteBase /

# 2. Excepciones: No reescribir si el archivo o carpeta existen físicamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 3. Regla de Reescritura
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
