/* public/assets/css/estilos_personalizados.css */
@import url("https://rsms.me/inter/inter.css");

:root {
  --tblr-font-sans-serif: "Inter var", -apple-system, BlinkMacSystemFont,
    San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
  font-feature-settings: "cv03", "cv04", "cv11";
}
